<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihua.feedcontrollerapi.dao.CtInvBaseinfoentryDao">
    <insert id="insertAll">
        insert into CT_INV_BASEINFORECORDBILLENTRY(fid, fparentid, cfperiod, cfshchanline, cfstatus)
        VALUES(#{fid},#{fparentid},#{cfperiod},#{cfshchanline},#{cfstatus})
    </insert>
</mapper>